# POSTGRES
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=ride-hail
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# PRIVATE KEY JWT
SECRET-KEY=supersecretkey123

# RABBITMQ
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_VHOST=/
SECRET_KEY=supersecretkey123

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Services
RIDE_SERVICE_HOST=0.0.0.0
RIDE_SERVICE_PORT=4001
